.parent {
  position: relative;
}

.content {
    background-color: lightbrown;
    width: 50%;
    float: left;
}
.sidebar {
    top: 0px;
    right: 0px;
    width: 50%; /* 100% - .content.width */
    float: left;
    background-color: lightyellow;
}
/* Responsive bit*/
@media only screen and (max-width: 320px) {
.content {
    background-color: orange;
    width: 100%;
}
.sidebar {
    background-color: red;
    width: 100%;
}
}
